zsh/.zcompdump
zsh/plugins/

vscode/
!vscode/User/keybindings.json
!vscode/User/settings.json
!vscode/User/extensions.json

discord/
!discord/themes/
!discord/plugins/
!discord/data/stable/

.install/tinyfetch/*
!.install/tinyfetch/PKGBUILD

nvim/lazy-lock.json
tmux/plugins/
